@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  font-family: 'Inter', sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}

.logo{
  font-size: 24px;
  margin: 24px;
}

.menu-flex {
display: flex;
align-items: center;
}

.menu-column {
display: flex;
align-items: center;
width: 50%;
justify-content: flex-start;
}

.menu-column.menu-second-column {
justify-content: flex-end;
}

.menu-nav ul {
display: flex;
list-style: none;
gap: 10px;
}

.menu-nav ul li a {
text-decoration: none;
color: #585e65;
line-height: 19px;
}

.menu-link-button {
text-decoration: none;
height: 48px;
background-color: #4c6ef5;
color: #fff;
padding: 0 32px;
display: flex;
align-items: center;
border-radius: 4px;
margin-right: 10px;
}

.products-wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.card{
list-style: none;
border:rgb(245, 243, 243) 2px solid;
border-radius: 8px;
width: 24%;
margin-bottom: 16px;
padding: 10px;
}

.paragraph{
font-size: 11px;
font-weight: 600;
margin-top: 13px;
margin-left: 5px;
margin-right: 20px;
line-height: 27px;
margin-bottom: 20px;
}

.car_1_button{
  display: block;
  background-color: #4C6EF5;
  border: 1.5px solid #4C6EF5;
  border-radius: 8px;
  padding: 5px 10px;
  color: #ffff;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

figure.imagem {
  text-align: center;
  height: 200px;
}

figure.imagem img{ 
  width: 100%;
  max-width: 200px;
}